
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                    <tr>
                        <td align="center" valign="top">
                            <!-- BEGIN HEADER // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                <tr>
                                    <td valign="top" class="headerContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                            <tbody class="mcnImageBlockOuter">
                                            <tr>
                                                <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                        <tbody><tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                <img align="left" alt="" src="https://gallery.mailchimp.com/4572dd05c1fe83ff2959e5a7b/images/097b7a6b-686d-40dd-bf28-29dc1776042f.png" width="564" style="max-width:960px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">


                                                            </td>
                                                        </tr>
                                                        </tbody></table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                </tr>
                            </table>
                            <!-- // END HEADER -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- BEGIN BODY // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                <tr>
                                    <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                            <tbody class="mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                        <tbody><tr>

                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                <h1>Thanks for you order &nbsp; &nbsp; &nbsp;</h1>

                                                                <h2><span style="font-size:12px">Order Number: <%= orderNumber %></span></h2>

                                                                <h3>Dear <%= customerName %>,</h3>

                                                                <p><span style="font-family:arial; font-size:16px; line-height:23px">We are currently processing your order.<br>
<br>
We will keep you updated on the status of your order; if you have any queries in the meantime, don't hesitate to email us at&nbsp;<a href="mailto:contact@itprintsd.com" style="color: #1155CC;" target="_blank"><span class="il">contact@itprints3d.com</span></a>.</span><br>
                                                                    <br>
                                                                    <span style="font-size:16px"><span>If we encounter any delays we will endeavour to keep you informed of the updated delivery status when we receive information from our supplier.</span></span><br>
                                                                    <br>
                                                                    <strong><span style="font-size:20px"><span style="color:#FF6600">Your Order</span></span></strong></p>

                                                                     <hr>

                                                                <div class="order-review">
                                                                    <div class="grid__table">
                                                                        <!-- Header -->
                                                                        <div class="grid__header">
                                                                            <div class="grid__header">
                                                                                <div class="grid__data">
                                                                                    Product Name
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__header">
                                                                            <div class="grid__header">
                                                                                <div class="grid__data">
                                                                                    Unit Price
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__header">
                                                                            <div class="grid__data">
                                                                                Qty
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__header">
                                                                            <div class="grid__data">
                                                                                Subtotal
                                                                            </div>
                                                                        </div>

                                                                        <!-- Grid data -->
                                                                        <% for(var i = 0, length = products.length; i < length; i++) {%>
                                                                            <div class="grid__row">
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= products[i].productName %>
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= products[i].price %>
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= products[i].quantity %>
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= products[i].subtotal %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                        <div class="grid__row checkout__price-section">
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    Subtotal
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= subtotal %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__row">
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    Shipping Cost
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= shippingCost %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid__row">
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell"></div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data text-right bold">
                                                                                    Grand Total
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid__cell">
                                                                                <div class="grid__data">
                                                                                    <%= grandtotal %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <p><br>
                                                                    &nbsp;</p>

                                                                <p>Thank you again? <a href="http://www.itprints3d.com" target="_blank">itprints3d.com</a></p>

                                                            </td>
                                                        </tr>
                                                        </tbody></table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareBlock">
                                            <tbody class="mcnShareBlockOuter">
                                            <tr>
                                                <td valign="top" style="padding:9px" class="mcnShareBlockInner">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareContentContainer">
                                                        <tbody><tr>
                                                            <td align="left" style="padding-top:0; padding-left:9px; padding-bottom:0; padding-right:9px;">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareContent" style="border: 1px solid #EEEEEE;background-color: #FAFAFA;">
                                                                    <tbody><tr>
                                                                        <td align="left" valign="top" class="mcnShareContentItemContainer" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr>
                                                                                    <td align="left" valign="top">

                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody><tr>
                                                                                                <td valign="top" style="padding-right:9px; padding-bottom:9px;" class="mcnShareContentItemContainer">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate;border: 1px solid #CCCCCC;border-radius: 5px;background-color: #FAFAFA;">
                                                                                                        <tbody><tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody><tr>
                                                                                                                        <td align="center" valign="middle" width="24" class="mcnShareIconContent">
                                                                                                                            <a href="http://www.facebook.com/sharer/sharer.php?u=*|URL:ARCHIVE_LINK_SHORT|*" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                        </td>
                                                                                                                        <td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
                                                                                                                            <a href="http://www.facebook.com/sharer/sharer.php?u=*|URL:ARCHIVE_LINK_SHORT|*" target="" style="color: #505050;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Share</a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    </tbody></table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        </tbody></table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody></table>
                                                                                        <!--[if gte mso 6]>
                                                                                        </td>
                                                                                        <td align="left" valign="top">
                                                                                        <![endif]-->

                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody><tr>
                                                                                                <td valign="top" style="padding-right:9px; padding-bottom:9px;" class="mcnShareContentItemContainer">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate;border: 1px solid #CCCCCC;border-radius: 5px;background-color: #FAFAFA;">
                                                                                                        <tbody><tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody><tr>
                                                                                                                        <td align="center" valign="middle" width="24" class="mcnShareIconContent">
                                                                                                                            <a href="http://twitter.com/intent/tweet?text=*|URL:MC_SUBJECT|*: *|URL:ARCHIVE_LINK_SHORT|*" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                        </td>
                                                                                                                        <td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
                                                                                                                            <a href="http://twitter.com/intent/tweet?text=*|URL:MC_SUBJECT|*: *|URL:ARCHIVE_LINK_SHORT|*" target="" style="color: #505050;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Tweet</a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    </tbody></table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        </tbody></table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody></table>
                                                                                        <!--[if gte mso 6]>
                                                                                        </td>
                                                                                        <td align="left" valign="top">
                                                                                        <![endif]-->

                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody><tr>
                                                                                                <td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnShareContentItemContainer">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate;border: 1px solid #CCCCCC;border-radius: 5px;background-color: #FAFAFA;">
                                                                                                        <tbody><tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody><tr>
                                                                                                                        <td align="center" valign="middle" width="24" class="mcnShareIconContent">
                                                                                                                            <a href="*|FORWARD|*" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                                                        </td>
                                                                                                                        <td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
                                                                                                                            <a href="*|FORWARD|*" target="" style="color: #505050;font-family: Arial;font-size: 12px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Forward</a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    </tbody></table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        </tbody></table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody></table>
                                                                                        <!--[if gte mso 6]>
                                                                                        </td>
                                                                                        <td align="left" valign="top">
                                                                                        <![endif]-->

                                                                                    </td>
                                                                                </tr>
                                                                                </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        </tbody></table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                </tr>
                            </table>
                            <!-- // END BODY -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- BEGIN FOOTER // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                <tr>
                                    <td valign="top" class="footerContainer" style="padding-bottom:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                            <tbody class="mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                        <tbody><tr>

                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                <em>Copyright © 2015 Itprints3d.com, All rights reserved.</em><br>
                                                            </td>
                                                        </tr>
                                                        </tbody></table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table></td>
                                </tr>
                            </table>
                            <!-- // END FOOTER -->
                        </td>
                    </tr>
                </table>
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>